<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum delectus, accusantium tempore porro recusandae quia at odio! Laboriosam consectetur sunt, magni iusto eveniet repellat? Dolores deleniti repudiandae iste cum beatae?</p>
    <button>SEARCH</button>

    
</body>
</html>